
body{
    margin: 0;
    font-size: 16px;
}
#main_container{
    width: 98.9vw;
    display: flex;
    flex-direction: column;
}
#background1{
    overflow: hidden;
    height: 746px;
}
.rest_of_the_backgrounds{
    overflow: hidden;
    height: 748px;
}
#bg1{
    width: 95em;
    margin-top: -4.5em;
    height:56em;
}
.bg{
    margin-top: -4.6em;
    width: 95em;
    height: 56em;
}
#footer{
    width: 100%;
    height: 33.7em;
    background-color: black;
}

header{
    position: fixed;
    background-color: transparent;
    top: 0;
    height: 0;
    width: 100%;
    z-index: 5;
}

#top_right_buttons{
    position: absolute;
    height: 3.5em;
    width: 6.4em;
    left: 86.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.2em;
}
#top_right_buttons button{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2em 0.2em;
    margin: 0;
    background-color: transparent;
    border-radius: 4px;
    border: none;
}

#logo_wrapper{
    position: absolute;
    top: 1em;
    width: 13.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#logo{
    height: 1.5em;
    width:7.5em;
    fill: white;
}
#logo_wrapper a{
    text-decoration: none;
    height: 1.5em;
}

#menu_bar{
    position: absolute;
    top: 0.75em;
    right: 34em;
    height: 2em;
    width: 25.9em;
}

#menu_pieces{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;    
    align-items: center;
}
#menu_bar li{
    height: 2em;
    width: auto;
    list-style-type: none;
}
#menu_bar li button{
    position: relative;
    z-index: 10;
    height: 100%;
    padding: 0 1.26em;
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
    background-color: transparent;
    transition-delay: 0.1s ease;
}
#menu_bar span{
    font-size: 13.4px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    color: #fff;
}
#menu_bar button:hover{
    background-color: #d0d1d2;
    z-index: 10;
}
/* top three right side options hovering effect */
#button1:hover{
    background-color: rgba(0, 0, 0, .05)
}
#button2:hover{
    background-color: rgba(0, 0, 0, .05)
}
#button3:hover{
    background-color: rgba(0, 0, 0, .05)
}
#menu_bar:hover button span{
    color: black;
}
#menu_bar:hover ~ #logo_wrapper #logo{
    fill: black;
}
#menu_bar:hover ~ #top_right_buttons .top_small_elements{
    fill: black;
}
.top_small_elements{
    height: 100%;
    width: 100%;
    fill: #fff;
}
#top_right_buttons a{
    height: 1.7em;
    width:1.7em;
}
header:has(#menu_bar:hover) ~ #main_container{
    filter: blur(5px);
}

/* navigation menu items hover effects */

#ultimate_menu_div{
    position: absolute;
    top: -1em;
    left: -35em;
    height: 40em;
    max-height: 0;
    width: 100vw;
    background-color: #fff;
    transition: max-height 0.5s ease, opacity 0.33s ease;
    z-index: -1;
    opacity: 0;
}
#vehicles_secondary,#energy_secondary,#charging_secondary,#discover_secondary,#shop_secondary{
    position: absolute;
    max-height: 40em;
    height: 0em;
    left: -35em;
    top: -1em;
    width: 100vw;
    background-color: transparent;
    visibility: hidden;
}


#vehicles:hover+#vehicles_secondary, #vehicles_secondary:hover{
    height: 32em;
    visibility: visible;
}
#menu_pieces:has(#vehicles_secondary:hover) #vehicles{
    background-color: #d0d1d2;

}
#energy:hover+#energy_secondary, #energy_secondary:hover{
    height: 25em;
    visibility: visible;
}
#menu_pieces:has(#energy_secondary:hover) #energy{
    background-color: #d0d1d2;

}
#charging:hover+#charging_secondary,#charging_secondary:hover{
    height: 25em;
    visibility: visible;
}
#menu_pieces:has(#charging_secondary:hover) #charging{
    background-color: #d0d1d2;

}
#discover:hover+#discover_secondary,#discover_secondary:hover{
    height: 30em;
    visibility: visible;
}
#menu_pieces:has(#discover_secondary:hover) #discover{
    background-color: #d0d1d2;

}
#shop:hover+#shop_secondary,#shop_secondary:hover{
    height: 21em;
    visibility: visible;
}
#menu_pieces:has(#shop_secondary:hover) #shop{
    background-color: #d0d1d2;
}


#menu_pieces:has(#vehicles:hover,#vehicles_secondary:hover)~#ultimate_menu_div{
    max-height:32em;
    opacity: 1;
}
#menu_pieces:has(#energy:hover,#energy_secondary:hover)~#ultimate_menu_div{
    max-height: 25em;
    opacity: 1;
}
#menu_pieces:has(#charging:hover,#charging_secondary:hover)~#ultimate_menu_div{
    max-height: 25em;
    opacity: 1;
}
#menu_pieces:has(#discover:hover,#discover_secondary:hover)~#ultimate_menu_div{
    max-height: 30em;
    opacity: 1;
}
#menu_pieces:has(#shop:hover,#shop_secondary:hover)~#ultimate_menu_div{
    max-height: 21em;
    opacity: 1;
}

#vehicles_secondary{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    padding-top: 3em;
    transition: 0.5s ease;
}

/* sb_vehicles left main portion */

#sb_vehicles_left{
    padding-left: 9em;
    padding-right: 3.5em;
    width: 55em;
    height: 23em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: transparent;
}
#vehicles:hover ~ #vehicles_secondary #sb_vehicles_left,#vehicles:hover ~ #vehicles_secondary #sb_vehicles_right{
    opacity: 1;
}
#vehicles_secondary:hover #sb_vehicles_left, #vehicles_secondary:hover #sb_vehicles_right{
    opacity:1;
}

.cars{
    height: 5.9em;
    width: 9.8em;
    scale: 1.3;
}
.vehicles_grid_elts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links_inside_vehicles_menu a{
    text-decoration: none;
}
.span_class_links{
    color: #5c5e62 !important;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: small;
    font-weight: 550;
    position: relative;
}

.span_class_links::after{
    content: '';
    background-color: #5c5e62;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 0.5px;
    height: 1px;
    transform-origin: bottom;
    transition: box-shadow 0.2s ease;
}
.links_inside_vehicles_menu a:hover .span_class_links:after{
    background-color: black;
    box-shadow: 0 1px 0.5px black ;
}
#helpmechoose_vehicles a:hover .span_class_links::after{
    background-color: black;
    box-shadow: 0 1px 0.5px black ;
}
.links_inside_vehicles_menu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
}
#helpmechoose_vehicles{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 45%;
}
#helpmechoose_vehicles a{
    text-decoration: none;
}
.vehicles_menu_grid_contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vehicles_menu_grid_contents h3{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* sb_vehicles right main portion */

#sb_vehicles_right{
    flex-grow: 1;
    background-color: transparent;
    height: 20em;
    border-left: solid rgb(128,128,128,0.5) 1.5px;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding-left: 3em;
    padding-top: 1em;
}

#sb_vehicles_right ol{
    list-style-type: none;
}
#sb_vehicles_right span{
    color: #5c5e62;
}
#sb_vehicles_right a{
    text-decoration: none;
    position: relative;
}

#sb_vehicles_right span:after{
    content: '';
    background-color: #5c5e62;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transform-origin: bottom;
    transition: box-shadow 0.2s ease;
}

#sb_vehicles_right a:hover span:after{
    height: 1px;
    box-shadow: 0 1px 0.5px black;
}
#energy_secondary{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    padding-top: 3em;
    transition: 0.5s ease;
}

/* sb_energy left side */

#sb_energy_left{
    padding-left: 9em;
    padding-right: 5.5em;
    width: 53em;
    height: 17em;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-top: -4em;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#sb_energy_right{
    flex-grow: 1;
    background-color: transparent;
    padding-top: 1em;
    height: 15em;
    border-left: solid rgb(128,128,128,0.5) 1.5px;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding-left: 3em;
    margin-top: -4em;
}
#energy:hover ~ #energy_secondary #sb_energy_left,#energy:hover ~ #energy_secondary #sb_energy_right{
    opacity: 1;
}
#energy_secondary:hover #sb_energy_left, #energy_secondary:hover #sb_energy_right{
    opacity:1;
}
.energyimages{
    height: 5.9em;
    width: 9.8em;
    scale: 1.3;
}
.energy_menu_grid_contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.links_inside_energy_menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.span_class_energy_links{
    color: #5c5e62 !important;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: small;
    font-weight: 550;
    position: relative;
}
.links_inside_energy_menu a{
    text-decoration: none;
}
#megapack_energylink a{
    text-decoration: none;
}
.span_class_energy_links::after{
    content: '';
    background-color: #5c5e62;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 0.5px;
    height: 1px;
    transform-origin: bottom;
    transition: box-shadow 0.2s ease;
}

.links_inside_energy_menu a:hover .span_class_energy_links:after{
    background-color: black;
    box-shadow: 0 1px 0.5px black ;
}
#megapack_energylink a:hover .span_class_energy_links::after{
    background-color: black;
    box-shadow: 0 1px 0.5px black ;
}

/* sb energy right side */

#sb_energy_right span{
    color: #5c5e62;
}
#sb_energy_right a{
    text-decoration: none;
    position: relative;
}

#sb_energy_right span::after{
    content: '';
    background-color: #5c5e62;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transform-origin: bottom;
    transition: all 0.2s ease;
}
#sb_energy_right a:hover span::after{
    height: 1px;
    box-shadow: 0 1px 1px black;
}

/* charging menu start */

#charging_secondary{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    padding-top: 3em;
    transition: 0.5s ease;
}
#sb_charging_left{
    padding-left: 20em;
    padding-right: 4em;
    width: 35em;
    height: 17em;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-top: -4em;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#sb_charging_right{
    flex-grow: 1;
    background-color: transparent;
    padding-top: 1em;
    height: 15em;
    border-left: solid rgb(128,128,128,0.5) 1.5px;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding-left: 1em;
    margin-top: -4em;
}

.chargingimages{
    height: 5.9em;
    width: 9.8em;
    scale: 1.3;
}
#charging:hover ~ #charging_secondary #sb_charging_left,#charging:hover ~ #charging_secondary #sb_charging_right{
    opacity: 1;
}
#charging_secondary:hover #sb_charging_left, #charging_secondary:hover #sb_charging_right{
    opacity:1;
}

/* charging menu left side */

.charging_menu_grid_contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.links_inside_charging_menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.span_class_charging_links{
    color: #5c5e62 !important;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: small;
    font-weight: 550;
    position: relative;
}
.links_inside_charging_menu a{
    text-decoration: none;
}
#charging_menulink a{
    text-decoration: none;
}
.span_class_charging_links::after{
    content: '';
    background-color: #5c5e62;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 0.5px;
    height: 1px;
    transform-origin: bottom;
    transition: box-shadow 0.2s ease;
}

.links_inside_charging_menu a:hover .span_class_charging_links:after{
    background-color: black;
    box-shadow: 0 1px 0.5px black ;
}
#charging_menulink a:hover .span_class_charging_links:after{
    background-color: black;
    box-shadow: 0 1px 0.5px black ;
}

/* charging menu right */

#sb_charging_right a{
    text-decoration: none;
}
.sb_charging_right_links{
    color: #5c5e62 !important;
    position: relative;
}
.sb_charging_right_links::after{
    content: '';
    background-color: #5c5e62;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transform-origin: bottom;
    transition: all 0.2s ease;
}
#sb_charging_right a:hover .sb_charging_right_links::after{
    height: 1px;
    box-shadow: 0 1px 1px black;
}